.social__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
 }
 
 .social__item:not(:last-child) {
     margin-right: 10px;
 }
 
 .social__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
      color: var(--main-color);
      transition: all .3s ease;
 }
 
 .social__link:hover {
     opacity: 0.9;
 }
 
 .social__list.dark .social__link {
     background-color: rgb(74 74 74 / 35%);
     color: #fff;
 }
 .social__list.dark .social__link:hover {
     background-color: var(--main-color);
 }